.addNewClient{
    display:flex;
    flex-direction: column;
    align-items: center;
    color : black;
    margin-top: 0%;
    height:auto;
    font-family: Arial,Georgia, Verdana, sans-serif;
}

body{
    font-family: Arial,Georgia, Verdana, sans-serif;
    margin-top: -2%;
    margin-left: 0%;
    margin-right: 0%;
    /*background:linear-gradient(rgba(97, 98 ,116 , .5), rgba(245, 0, 0, 0.22)), url("background1.jpg") no-repeat center center fixed;*/
    background-color: whitesmoke;
    background-repeat:no-repeat;
    background-position: right top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dashboardh1
{
    text-align: center;
    color: whitesmoke;
    padding-top: 6%;
}

#screenCenter{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 120%;
}
.button{
    background-color: #000000;
    border: none;
    color: white;
    border: 2px solid #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: #d33c3700;
    color:black;
    border: 2px solid #000000;
}

input[type=text]{
    border: 1px solid graytext;
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    border-radius: 3px;
}

input[type=text]:focus{
    box-sizing: border-box;
    border-radius: 50px;
}

input[type=date]{
    border: 1px solid graytext;
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    border-radius:2px;
}

input[type=date]:focus{
    box-sizing: border-box;
    border-radius: 50px;
}

input[type=textarea]{
    border: 1px solid graytext;
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    border-radius: 3px;
}

input[type=password]{
    border: 1px solid graytext;
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    border-radius:2px;
}

input[type=password]:focus{
    box-sizing: border-box;
    border-radius: 50px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #d33c37;
}
.selector{
    border: 1px solid graytext;
    font-size:14px;
    width:100%;
    max-height:25%;
    padding:2px;
    border-radius:3px;
}
.choice{
    border-radius:3px;
    width:100%;
    padding:10px;
}
.panel {
    padding: 0 18px;
    background-color: whitesmoke;
    max-height: 0;
    max-width: 47.5%;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.comment{
    border: 1px solid graytext;
    border-radius: 3px;
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    border-radius:2px;
}

.icon{
    margin-bottom: 0px;
    height : 200px;
    width: auto;
    background-color: #333;
    background-image: url("../deloitteCRMicon.png");
    background-repeat: no-repeat;
}


::-moz-selection {
    color: gold;
    background: red;
}

.nav ul {
    list-style-type: none;
    margin: 0px;
    height: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
    height: 50px;
    padding: 0px;
    font-size: 20px;    
    border-right:1px solid #bbb;
}

.nav li:last-child {
    border-right: none;
    height: 50px;
}

.nav li a {
    display: block;
    color: white;
    height: 50px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: white;
    color:black;
}

.nav .active {
    background-color: #B50E0E;
}
